* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
}

nav {
    background: #121014;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    opacity: 90%;
}

.logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 0 20px;
}

.nav-links {
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links li a {
    color: white;
    font-size: 17px;
}

.nav-toggle-label {
    color: white;
    font-size: 25px;
    cursor: pointer;
    padding: 0 20px;
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked + .nav-links {
    display: flex;
}

#video-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100vw;
    height: 100%;
    z-index: -1;
    object-fit: fill; 
}
    
